<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align:center">
    <form action="/blood_pressure_record?open_id={{open_id}}" method="post" novalidate>
     <p>
         <font face="verdana" size="4" color="black">舒张压:</font>
            {{ form.diastolic_pressure(size=10) }}<br>
        </p>
        <p>
            <font face="verdana" size="4" color="black">收缩压:</font>
            {{ form.systolic_pressure(size=10) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
</body>
</html>
