<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<html>

<body>

<!--{% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--        <ul>-->
<!--            {% for message in messages %}-->
<!--            <li>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--        {% endwith %}-->



    <h1>每日必填</h1>
    <form action="/dailycheck" method="post" novalidate>
        {{ form.hidden_tag() }}
                <p>
            {{ form.identification.label }}<br>
            {{ form.identification(size=32) }}
        </p>
        <p>
            {{ form.diastolic_pressure.label }}<br>
            {{ form.diastolic_pressure(size=32) }}
        </p>
        <p>
            {{ form.systolic_pressure.label }}<br>
            {{ form.systolic_pressure(size=32) }}
        </p>


        <p>
            {{ form.rhythm_of_heart.label }}<br>
            {{ form.rhythm_of_heart(size=32) }}
        </p>    
        <p>
            {{ form.medicines_list.label }}<br>
            {{ form.medicines_list(size=256) }}
        </p>



        <p>{{ form.submit() }}</p>
    </form>

  </body>
</html>
