<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

姓名:{{user.name}}<br>
生日:{{user.birthday}}<br>
身高:{{user.height}}<br>
体重:{{user.weight}}<br>
性别:{{user.gender}}<br>

每日数据:<br>
{%for daytimedata in daytimedatas:%}
    {{daytimedata.datetime}}   舒张压:{{daytimedata.diastolic_pressure}}    收缩压: {{daytimedata.systolic_pressure}}
  心律:{{daytimedata.rhythm_of_heart}}<br>
{%endfor%}

<img src=""/>
<br>
    <!--img src="{{patientimg}}" alt="My Image"-->
    <form action="/doctoruserpage" method="post"> 
    内容:<br>
    <input type="text" name="content" >
    <br><br>
<input type="hidden" name="openid" value="{{user.open_id}}">
    <input type="submit" value="Submit">

    </form>
</body>
</html>
