<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<html>

<body>

<!--{% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--        <ul>-->
<!--            {% for message in messages %}-->
<!--            <li>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--        {% endwith %}-->



    <h1>注册</h1>
    <form action="/register" method="get" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.identification.label }}<br>
            {{ form.identification(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.docter.label }}<br>
            {{ form.docter }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

  </body>
</html>
